@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Quicksand", Tahoma, sans-serif;
    color: #fff;
    background-color: #1d2123;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    /* display: none; */
  width: 1px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 30px;
  border: 1px solid gray;
}

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: 1px;
  }

  .hide {
    display: none;
  }

  .collection_div:hover + .hide {
    display: block
  }
}
