@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Quicksand", Tahoma, sans-serif;
    color: #fff;
    background-color: #1d2123;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }
}

@layer components {
  /* topchartsalbum.js */
  .success {
    @apply fixed left-[50%] top-[10%] translate-x-[-50%] translate-y-[-50%] bg-[#FACD66] px-[15px] py-[20px] text-black text-center z-[100] font-bold
  }


  /* desktopnav.js */
  .navlink-animation {
    @apply hover:text-[#FACD66] hover:opacity-100 transition ease-in-out hover:scale-100
  }
  
  /* collection.js */
  .collection-btn {
    @apply w-[50%] md:w-auto py-2 px-4 border-2 border-[#EFEEE0] opacity-50 rounded-full text-[#EFEEE0]
  }
  .active-collection-btn {
    @apply bg-[#FACD66] w-[50%] md:w-auto px-4 py-2 rounded-full text-black font-bold
  }

  .collection-list {
    @apply relative h-[250px] w-full md:w-[250px] rounded-2xl overflow-hidden cursor-pointer
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
  width: 1px;
  }

  .no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 30px;
  border: 1px solid gray;
}

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: 1px;
  }

  .noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}
}
